<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.producto %></h2> 
			<p class="product-detail-description">
				<a href="/products/productAdd">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= producto.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %>.</p>
				</article>
				<div class="col-12 col-lg-4">
					<%for (var index=0; index < producto.comentarios.length; index++ ){%>
						<section class="comments">
							<article>
								<img src="<%= producto.comentarios[index].imagenDePerfil %>" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/users/id/<%= producto.comentarios[index].id %>"><%= producto.comentarios[index].nombreDeUsuario %> :</a> </strong>
										<%= producto.comentarios[index].textoDelComentario %>
									 </p>
								</div>
							</article>
						</section>
						<% } %>
					<form class="form" action="/users/profile" method="GET">
						<label for="name">Usuario:</label>
						<input type="text" id="name" name="name" placeholder="Nombre de usuario"><br />

						<label for="coment">Comentario:</label>
						<input type="text" id="coment" name="coment" placeholder="Comentario"><br />
						
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer') %>

</body>	
</html>